<h1 mat-dialog-title>Sobre</h1>
<div mat-dialog-content>
<div class="container-settings">
</div>
</div>

<p class="text">A tablatura é uma das principais formas de notação musical. Combinando
    efeitos sonoros visualmente de forma simples e intuitiva, ela se faz um grande
    atrativo para os músicos, se tornando uma metodologia essencial para aqueles que
    querem se aprofundar no mundo musical, especificamente na área de instrumentos
    com cordas. Por ser uma forma de representação tão comum, se tornou rotina de
    músicos escrevê-las e lê-las. Levando em consideração isto, é notável que o ato de
    escrever uma tablatura exige tempo, além de complicar o processo de criatividade
    musical. Este sistema tem como objetivo facilitar este processo, de maneira prática
     e de fácil acessibilidade, disponível para todos.
</p>
<hr class="hrgg">


